.big{
  width: 30%;
  background: aqua;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-top: 3%;
  h1{
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

