.card{
  margin: auto;
}
.loading{
  width: 100%;
  display: flex;
  justify-content: center;
  background: none;
}
.spinner-border{
  width: 200px;
  height: 200px;
}
.titleId{
  width: 100%;
  display: flex;
  justify-content: center;
}
.title{
  width: 100%;
  font-size: 20px;
  margin: auto;
}
.back{
  width: 60%;
  font-size: 25px;
}
